header {
	background-color: white;
	border: 2px solid white;
	text-align: center;
	opacity:.85;
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 30px;
	font-weight: bold;
	color:#559e83;
}
header p {
	margin: 0px;
}

header a {
	font-family: 'Rock Salt', cursive;
	font-size: 75px;
	color:black;
	font-weight: bold;
	text-decoration: none;
	margin:0px;
}

header a:hover {
	color:#506070;
}
body {
	height:1000px;
	background-size: 100% 120%;
	margin: auto;
	background-repeat: no-repeat;

}

.body-links {
	background: url("https://images.unsplash.com/photo-1422665717225-1a37f226c92a?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925");
	background-color: transparent;
	height: 900px;
	border: 2px solid white;
	margin: auto;
	overflow: hidden;
}

.body-links a {
	font-size: 29px;
	color:#403030;
	text-decoration: none;
	font-family: 'Shadows Into Light Two', cursive;
	font-weight: bold;
}

.links {
	background-color: transparent;
	border: 2px solid transparent;
	width:800px;
	height:800px;
	margin: auto;
}

.links a div {
	width: 215px;
	height: 215px;
	background-color: #1b85b8;
	float: left;
	border: 2px solid white;
	margin:23px;
	text-align: center;
	opacity:.85;
}

.links a div:hover {
	background-color: #559e83;
	color:black;
	transform: translate(8px, 8px);
	transition: .75s;
}

.Nav {
	background-color: transparent;
	border: 2px solid transparent;
	width:500px;
	height:100px;
	margin: auto;
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 25px;
	font-weight: bold;
}

.Nav a div {
	background-color: #ae5a41;
	color:#403030;
	float:left;
	width: 105px;
	height:50px;
	border: 2px solid white;
	margin:8px;
	text-align: center;
	opacity:.85;
}

.Nav a div:hover {
	color:yellow;
}

span {
	color: red;
}