header {
	background-color: #669900;
	border: 2px solid white;
	text-align: center;
	opacity:.85;
}
header p {
	margin: 0px;
}

header a {
	font-size: 75px;
	color:#403030;
	font-weight: bold;
	text-decoration: none;
	font-family: 'Amatic SC', cursive;
	margin:0px;
}
body {
	background: url("https://media.giphy.com/media/5xtDarlxtDCeptXlCfu/giphy.gif");
	width:975px;
	height:1000px;
	background-size: 100% 110%;
	margin: auto;
	background-repeat: no-repeat;
}

.body-links {
	background-color: transparent;
	height: 900px;
	width: 971px;
	border: 2px solid white;
	margin: auto;
}

.body-links a {
	font-size: 40px;
	color:#403030;
	text-decoration: none;
	font-family: 'Amatic SC', cursive;
}

.links {
	background-color: transparent;
	border: 2px solid transparent;
	width:800px;
	height:800px;
	margin: auto;
}

.links a div {
	width: 215px;
	height: 215px;
	background-color: #669900;
	float: left;
	border: 2px solid white;
	margin:23px;
	text-align: center;
	opacity:.85;
	transform: translate3D(0,0,0);
}

.links a div:hover {
	background-color: yellow;
	transform: rotateY(180deg);
	transition: 1s;
}
.front {

}

.back {
	
}

.Nav {
	background-color: transparent;
	border: 2px solid transparent;
	width:500px;
	height:100px;
	margin: auto;
}

.Nav a div {
	background-color: #669900;
	color:#403030;
	float:left;
	width: 100px;
	height:50px;
	border: 2px solid white;
	margin:9px;
	text-align: center;
	opacity:.85;
}